
<!DOCTYPE HTML >
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}" />

<style>
.content{ margin-top:4%
}
</style>
      
  

</head>
<body>

<div class="nav navbar-default navbar-inverse navbar-fixed-top"
  <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >GNUKhata</a>
   
        </div>
  
  <div class="collapse navbar-collapse" id="navbar-ex-collapse">
  <ul class="nav navbar-nav pull-right">
  
    <li class="active"><a class="navbar-brand" data-toggle="tab" href="#about">About</a></li>
    <li><a data-toggle="tab" href="#selectorg"> <span class="sr-only">Select Existing Organisation</span>Select Existing Organisation</a></li>
    <li><a data-toggle="tab" href="#createorg">Create Organisation</a></li>

  </ul>
  </div>
</div>
<br />
  <div class="tab-content">
    <div id="about" class="tab-pane fade in active">
      
      
    </div>
    <div id="selectorg" class="tab-pane fade">
      
     
    </div>
    <div id="createorg" class="tab-pane fade">
      
    </div>
   
  </div>


    <script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
      <script src="{{tg.url('/javascript/jquery-2.1.4.min.js')}}"></script>
      <script>
  
  $(document).ready(function(){
  
$("#about").load("{{tg.url('/info')}}");
  
 $("#selectorg").load("{{tg.url('/existingorg')}}");
  
   $("#createorg").load("{{tg.url('/neworg')}}");
   
   
  return;
  });
</script>
  </body>
</html>

