<!DOCTYPE HTML >
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}" />

<style>
.content{ margin-top:4%
}
</style>
    


</head>
<body>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
		</div>
		<div id="selectorg" style="margin-top:50px;" class="mainbox col-md-6 pull-right">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Select Organisation</div>
                        
                    </div>    
                     <div style="padding-top:30px" class="panel-body" >
		
			<form role="form">
				<div class="form-group">
					 <label for="orgName">Organisation Name</label><input class="form-control" id="orgName" type="email" />
				</div>
				<div class="form-group">
					 <label for="orgType">Organisation Type</label><select class="form-control" id="orgType" ></select>
				</div>
				<div class="form-group">
					 <label for="orgFromDate">From Date</label><input class="form-control" id="orgFromDate" type="text" />	
				</div>
				<div class="checkbox">
					 <label><input type="checkbox" /> Check me out</label>
				</div> <button type="submit" class="btn btn-default">Submit</button>
			</form>
		
		</div>
		</div>
		</div>
	</div>
</div>
<script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
    <script src="{{tg.url('/javascript/jquery-2.1.4.min.js')}}"></script>
</body>